.TableContainer {
    display: block;
    border: 1px solid grey;
    width: 100%;
    overflow: auto;
    white-space: nowrap;
    overflow-y: auto;
    height: 80vh;
    width: 95vw;
    margin: auto;
}

.TableHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    background-color: #f1f1f1;
}

.TableRow {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}

.FixedColumn {
    position: sticky;
    left: calc(index * width);
    background-color: #f1f1f1;
    z-index: 1;

}

th,
td {
    padding: 10px;
}

.header {
    background-color: #f1f1f1;
}

thead th {
    position: sticky;
    top: 0;
}

.sort-icon {
    font-size: 14px;
    font-weight: 800;
    padding-left: 5px;
}
